body {
    font-family: "Nunito", sans-serif;
}

.section1 {
    background-color: white;
    height: 85vh;
    padding-top: 30px;
    /* padding-bottom: 50px; */
}

.section1bottom {
    height: 15vh;
    width: 100%;
    background-color: rgb(228, 242, 248);
}

.row1 {
    height: 85vh;
}

.finch {
    width: 70%;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .finch {
        width: 60%;
        border-radius: 5px;
    }
}

.section2 {
    margin-top: 15vh;
    height: 70vh;
    background-color: rgb(228, 242, 248);
}

.section2bottom {
    height: 20vh;
    width: 100%;
    background-color: white;
}

.section3bottom {
    height: 15vh;
    width: 100%;
    background-color: white;
}

.footer {
    height: 25vh;
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: rgb(82, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-icon {
    color: rgb(139, 138, 138);
    padding-right: 10px;
    padding-bottom: 7px;

}

h1 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 1px 3px black;
    
}

@media (max-width: 800px) {
    h1 {
        margin-bottom: 10px;
        color: white;
        text-shadow: 2px 1px 3px black;
        
    }
}

.about {
    margin-top: 8vh;
}

.gallery {
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.about-button {
    margin-bottom: 100px;
    margin-top: 0;
}

.p-about {
    margin-bottom: 0;
    padding-bottom: 0;
}









